.col-4{
    width: 100%;
}
.col-sm-4{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: gainsboro;
}
.col-sm-8 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    justify-items: center;
    flex-wrap: wrap;
}
input[type=text] {
    float: center;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: 2px solid black;
    font-size: 17px;
}
.row {
    margin: 50px;
    border: 1px solid gray;
}
.mb-3 {
    margin: 15px;
}