body {
    background-color: slategray;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#currenttemp{
    font-size: 80px;
}
#wmo{
    height: 200px;
    width: 200px;
}

#loading {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    cursor: pointer;
    color: black;
}

#city {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width: 70%;
}

#date{
    font-size: 20px;
}


.col-4{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.col-sm-4{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: gainsboro;
    align-items: center;
    
}

#days {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    justify-items: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: whitesmoke;
    height: 100%;
}

.header{
    margin-top: 50px;
}
.col-sm-8 {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: whitesmoke;
}
input[type=text] {
    float: center;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: 2px solid black;
    font-size: 17px;
}
.row {
    margin: 50px;
    border: 1px solid gray;
}
.mb-3 {
    margin: 15px;
}